
@import "../Cube/color";

.bg-cube{
	position: fixed;
	height: 100%;
	width: 100%;
    top: 0;
    left: 0;
	background: #333;
	z-index: -10;
}


$side-bar-width:200;
$button_pannel_show-width:40;
$button_pannel-solution-height:190;
$button_pannel-solution-showBtn-height:30;
$button_pannel-solution-display-width:110;
.side-bar{
	z-index: 600;
	width: $side-bar-width + $button_pannel_show-width + px;
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	transition: 0.5s;
	color: #D5D5D5;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.side-bar-right{
	right: (- $side-bar-width - 5) + px;
}

.button_pannel_show{
	position: absolute;
	top: 40%;
	right: $side-bar-width - 57 + px;
	height: $button_pannel_show-width + px;
    transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	
}


.button_pannel {
	margin-left: $button_pannel_show-width + px;
	height: 100%;
	transition: 0s;
	.button_pannel-title{
		font-size: 15px;
		font-weight: 600;

	}
	button {
		font-size: 12px;
		margin-top: 5px;
		font-weight: 600;
	}
	.button_pannel-btn-wrapper{
		overflow-x: scroll
	}
	.button_pannel-btn{
		width: 40px;
        margin-right: 5px;
	}
	.button_pannel_area{		
		visibility: visible;
		opacity: 1;
		transition: 1s;
		display: block;
		background: #333;
		border-top: 1px #222 solid;
		 
		padding: 3px 12px 10px 10px;
		
	}
	.button_pannel_broder-1{
		border-left: 8px $color-2 solid;/*#D08846*/
	}
	.button_pannel_broder-2{
		border-left: 8px $color-5 solid;/*#B23E43*/
	}
	.button_pannel_broder-3{
		border-left: 8px $color-4 solid;/*#328683*/
	}
	.button_pannel_broder-4{
		border-left: 8px $color-3 solid;/*#006F8A*/
	}
	.button_pannel_broder-5{
		border-left: 8px $color-6 solid;/*#61447C*/
	}



	.button_pannel_area_disappear{
		height: 0;
		opacity: 0;
		padding: 0;
		visibility: hidden;
		transition: 1s;
		border-width: 0px;
	}

    .button_pannel_container{
    	width: ($side-bar-width) + px;
    	background: #333;
    	padding: 0;
    	overflow-y:scroll;
    	height: 100%;
    	box-shadow: -7px 5px 30px  #111;
    }

    .button_pannel-solution{
    	position: absolute;
		width: ($side-bar-width) + px;
		background: #fff;
		height: $button_pannel-solution-showBtn-height + px;
		transition: 0.5s ease-in-out;
		overflow-y:hidden; 
		overflow-x:hidden; 
    }

    .button_pannel-solution-display{
    	width: 100%;
    	height: $button_pannel-solution-height - 2 * $button_pannel-solution-showBtn-height + px;
    	overflow-y:scroll;
    	background: #333;
    	position: absolute;
    	padding: 5px 10px;
    	
    }
    .button_pannel-solution-display-selected{
    	color: #B23E43;
    }

    .button_pannel-solution-display-index-title{
    	float: left;
    	clear: left;
    	padding:0px;
    	width: 30%;
    	text-align: center;
    	display: inline-block;
    }

    .button_pannel-solution-display-content-title{
    	float: right;
    	clear: right;
    	padding:0px 10px;
    	width: 65%;
    	text-align: center;
    	display: inline-block;
    }
    .button_pannel-solution-display-row{

    }
    .button_pannel-solution-display-index{
    	float: left;
    	clear: left;
    	padding:2px 10px;
    	width: 30%;
    	text-align: center;
    	display: inline-block;
    }

    .button_pannel-solution-display-content{
    	float: right;
    	clear: right;
    	padding:2px 10px;
    	width: 65%;
    	text-align: center;
    	display: inline-block;
    }

    .button_pannel-solution-btn-wrapper{
    	position: absolute;
    	/*left: $button_pannel-solution-display-width + 15 + px; */
    	bottom: $button_pannel-solution-showBtn-height + px;
    	width: 100%;
    	margin: 0px;
    	.button_pannel-solution-btn{
    		width: 27%;
    		padding-left: 7px;
    		height: $button_pannel-solution-showBtn-height + px;
    	}
    	.button_pannel-solution-btn-question{
    		width: 19%;
    		height: $button_pannel-solution-showBtn-height + px;
    	}
    }
    .button_pannel-solution-btn{
    	display: block;
    }

    .button_pannel-solution-showBtn{
    	width: 100%;
    	background: $color-3;
    	position: absolute;
    	height: $button_pannel-solution-showBtn-height + px;
    	bottom: 0;
    	z-index: 100;
    	span{
    		transition: 0.5s ease-in-out;
    		width: 20px;
    		margin: 7px 90px;
    	}
    }

    .button_pannel-solution-show{
		height: $button_pannel-solution-height + px;
		.button_pannel-solution-showBtn{
			span{
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}

    }
}

.return_btn{
    position: fixed;
    z-index: 200;
    width: 20px;
    height: 20px;
    top: 12px;
    left: 12px;
    span{
        color: #d2d2d2;
        font-size: 30px;
        cursor: pointer;

    }
}



