$color-1: #D5D5D5;/*F0F0F0*/

$color-2: #ECA55E;/*#F8DC0B*/

$color-3: #006F8A;/*#004687*/

$color-4: #62B13E;/*#3EC303*/

$color-5: #B23E43;/*#B81D18*/

$color-6: #F0570B;/*#FF5A09*/

.bg-color-1{
	background: #333;
}